In [ ]:
import numpy as np
import pandas as pd
import sklearn

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestClassifier

#Read Dataset

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/yanrie1201/Yanrie1201/main/heart.csv')
df.head()

   age  sex  cp  trtbps  chol  fbs  ...  exng  oldpeak  slp  caa  thall  output
0   63    1   3     145   233    1  ...     0      2.3    0    0      1       1
1   37    1   2     130   250    0  ...     0      3.5    0    0      2       1
2   41    0   1     130   204    0  ...     0      1.4    2    0      2       1
3   56    1   1     120   236    0  ...     0      0.8    2    0      2       1
4   57    0   0     120   354    0  ...     1      0.6    2    0      2       1

[5 rows x 14 columns]

#Drop Output

In [ ]:
X = df.drop('output', axis=1)
y = df ['output']

#Split Datase

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state = 42)

#Model Logistik Regression

In [ ]:
model=LogisticRegression(random_state=0).fit(X_train, y_train)
prediction = model.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
clf = RandomForestClassifier(max_depth=2, random_state = 0)
prediction1 = clf.fit(X_train,y_train)

#Hasil Prediksi

In [ ]:
prediction

array([0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       1, 0, 1])

#Hasil Dataset

In [ ]:
y_test

179    0
228    0
111    1
246    0
60     1
      ..
250    0
19     1
143    1
79     1
144    1
Name: output, Length: 91, dtype: int64

#Akurasi Model

In [ ]:
print('Accuracy: ', accuracy_score(y_test, prediction)*100,'%')

Accuracy:  81.31868131868131 %

#Confusion Matrix

In [ ]:
confusion_matrix(y_test, prediction)
#32 true positive = kelas positive, predict positive , ini kena semua dan predict bner
#9 false negative = kelas negative, predict positive , ini gk kena tapi predict nya salah
#8 false positive = kelas positive, predict negative , ini kena tapi predict gkkena
#42 true negative = kelas negative, predict negative , ini gkkena predict bener

array([[32,  9],
       [ 8, 42]])

#Classification Report

In [ ]:
target_names = ['0', '1']
print(classification_report(y_test, prediction, target_names=target_names))
#precision = tp / (tp+fp)
#recall = tp / (tp+fn)

              precision    recall  f1-score   support

           0       0.80      0.78      0.79        41
           1       0.82      0.84      0.83        50

    accuracy                           0.81        91
   macro avg       0.81      0.81      0.81        91
weighted avg       0.81      0.81      0.81        91